.chat-side
  .chat-user
    %h5.chat-user__name
      = current_user.name
    .chat-user__actions
      = link_to new_group_path ,class: "chat-user__actions--action" do
        = fa_icon "pencil-square-o"
      = link_to edit_user_registration_path ,class: "chat-user__actions--action" do
        = fa_icon "cog"
  %ul.chat-groups
    = render partial: "groups/group-lists", collection: @groups, as: :group

.chat-main
  .chat-header
    .chat-header__left
      %h2
        = @group.name
      %p
        Members:
        %span.chat-header__left--user
          -@group.users.each do |member|
            ="#{member.name}"
    .chat-header__right
      = link_to 'Edit', edit_group_path(params[:group_id]) , class: "chat-header__right__edit-btn"

  .chat-body
    %ul.chat-messages
      .chat-messages-list
        = render @messages
        / = render partial: 'message', collection: @messages, as: :message 上記と同じことを確認するためのコード

  .chat-footer
    .chat-footer__body
      = form_for [@group, @message], html: { class: 'js-form' } do |f|
        = f.text_area :body , placeholder: "type a message",  class: 'chat-footer__body--text', rows: 1
        = f.label :image, class: "chat-footer__body--file" do
          = fa_icon "picture-o"
          = f.file_field :image, class: 'chat-footer__body--image', style: "display:none;"
        = f.submit "Send" , class: "chat-footer__send-btn"
