.chat-side
  .chat-user
    %h5.chat-user__name
      = current_user.name
    .chat-user__actions
      = link_to new_group_path ,class: "chat-user__actions--action" do
        = fa_icon "pencil-square-o"
      = link_to edit_user_registration_path ,class: "chat-user__actions--action" do
        = fa_icon "cog"
  %ul.chat-groups
    = render partial: "group-lists", collection: @groups, as: :group

